header.nav-basic {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    padding: 10px;
    align-items: flex-start;
}

header h1 {
    align-self: center;
    margin-bottom: 5px;
}

header .search-box {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

header .search-box input{
    width: 80%;    
    padding: 10px;
    border-radius: 4px;
    height: 30px;
    border: 1px solid #444;
}

header .search-box button {
    border: 1px solid #444;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-grow: 1;
    margin-left: -3px;
    cursor: pointer;
    background-color: #f05a5b;
    color: #fff;
    font-weight: bold;
}

header .SessionUser {
    margin-top: 10px;
    padding: 5px;
    width: 60%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

header .SessionUser button {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    background-color: #f05a5b;
    cursor: pointer;
}

.ul-title {
    text-align: center;
    font-weight: bold;
}

ul.spot-list {
    margin-top: 5px;
}

ul.spot-list li .emai-user {
    font-size: 10px;
}

.booking {
    border-radius: 4px;
    border: 1px solid #444;
    margin-top: 4px;
    background-color: #f05a5b;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

ul.notifications-response {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 16px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

ul.notifications-response li {
    padding: 5px;
    border-radius: 2px;
    color: #fff;
    margin-top: 5px;
    width: 90%;
}

ul.notifications-response button {
    padding: 10px;
    border: 0;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

ul.notifications-response .approval {
    background-color: #84C870;
}

ul.notifications-response .reject {
    background-color: #f05a5b;
}